include README.rst
include CHANGELOG.rst
include LICENSE

include tests/dts/sample-data.jsonlines
include tests/dts/sample-data-collapsed.jsonlines
include tests/dts/test-clean.pk
include tests/dts/unittest-dataset-clean.pk

recursive-include tests *.py

include .travis.yml
include .circleci/config.yml
include .readthedocs.yml

include appveyor.yml
include bandit.yml
include .pylintrc
include .prospector.yml

recursive-include .appveyor *.py
include .appveyor/appveyor-with-compiler.cmd


include .coveragerc
include tox.ini
include tox-dev.ini

recursive-include requirements *.txt
recursive-include src *.py
recursive-include src *.conf

global-exclude *.py[cod] __pycache__ *.so *.dylib *.log

recursive-include docs *.bat
recursive-include docs *.py
recursive-include docs *.rst


include docs/Makefile
include docs/spelling_wordlist.txt


include scripts/install_anaconda.sh
include scripts/parse_package_version.py
include scripts/integration-test.sh
